@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
p{
    margin: 0;
    color: #60646C;
    font-size: 16px;
    line-height: 24px;

}

header{
    border-bottom: 1px solid #D9D9E0;
}
footer{
    border-top: 1px solid #D9D9E0;
}
header .container, footer .container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}
footer .container{
    height: 64px;
}
header .container .content{
    display: flex;
    width: 1216px;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px;
    align-content: center;
    align-items: center;
}
footer .container .content{
    width: 1216px;
    height: 64px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}
footer p{
    color: #1C2024;
}

.logo{
    width: 160px;
    height: 40px;
}
nav .nav-item{
    padding: 12px;
    text-decoration: none;
    color: #60646C;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
nav .nav-item{
    text-decoration: none;
}
.cart{
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px #FFFFFF00;
}
.cart img{
    width: 24px;
    height: 24px;
 }
section#categories{
    padding: 48px 0;
}
section#categories .content{
    width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}
section#categories .content .presentation{
    max-width: 768px;
}
section#categories .content .wrapper{
    width: 1216px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.category{
    width: 384px;
}
.category img{
    width: 384px;
    border-radius: 12px;
    aspect-ratio: 4/5;
    margin-bottom: 16px;
}
.category .title-category{
    font-weight: 600;
    color: #1C2024;
    margin: 0 0 8px 0;

}