@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #171717;
}
header{
    border-bottom: 1px solid #171717;
}
main{
    margin-top: 64px;
    margin-bottom: 64px;
}
.container{
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}
footer{
    border-top: 1px solid #171717;
}